{{ $ := .root }}
{{ $page := .page }}
<style>
  .ma-box1 {
    display: flex;
    justify-content: left;
  }
  .ma-box-item-left {
    width: 100%;
  }
</style>
<!-- Accomplishments widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">

    <div class="card experience course">
      <div class="card-body">
        <div class="ma-box1">
          <div class="ma-box-item-left">
            “Digital Financial Risk” is a WeChat public account independently operated by <strong>Cunyi Yang</strong> since March 2024. Every evening at 8 p.m., it shares hot topics,
            literature, calls for papers, and policies related to digital finance and risk management. Currently, it has over 3,000 followers，and the total number
            of readings exceeds 100,000.
          </div>
          <div class="ma-box-item-right">
            <img alt="" src="img/mediaAppearances1.jpg" />
          </div>
        </div>
      </div>
    </div>

    <div class="card experience course">
      <div class="card-body">
        <div class="ma-box1">
          <div class="ma-box-item-left">
            <strong>Cunyi Yang</strong>, Huan Liu, Yan Zeng, “Insurance Services Supporting High-Quality Development of Guangdong’s Manufacturing Industry”, Guangdong Insurance Society, 2023
          </div>
          <div class="ma-box-item-right">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
